/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/halo";

.RoomSitButton {
   cornerRadius: 13;
   textIndent: 5;
   paddingLeft: 0;
   paddingRight: 0;
   paddingTop: 20;
   paddingBottom: 20;
   letterSpacing: 0;
   highlightAlphas: 0, 0;
   fillAlphas: 0.36, 0.4, 0.75, 0.65;
   fillColors: #445c95, #445c95, #ffffff, #eeeeee;
   borderColor: #445c95;
   fontFamily: Arial;
   fontSize: 9;
}
global
{
	textAlign: left;
	verticalAlign: top;
}